.grid{
    display: grid;   
}
.grid-1{
    grid-template-columns: repeat(1, 100%);
}
.grid-2{
    grid-template-columns: repeat(2, 50%);
}
.grid-3{
    grid-template-columns: repeat(3, 33.33%);
}
.grid-4{
    grid-template-columns: repeat(4, 25%);
}
.grid-5{
    grid-template-columns: repeat(5, 20%);
}

.grid-6{
    grid-template-columns: repeat(6, calc(100%/6));
}

div{
  margin-top: 10px;  
  border: 1px solid black;
  text-align: center;
  font-size: 30px;
}